.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    margin: 5px 10px;
    width: 99%;
}

.home-container {
    box-sizing: border-box;
width: 98%;
}

.all-users {
    display: flex;
    flex-direction: row;
    width: 97%;
    overflow: scroll;
}

.home-user-display {
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px 5px;
}

.filter-func {
    display: flex;
    flex-direction: column;
}